.Push {
  $rootPush: &;
  $link-size: 4.4rem;

  position: relative;
  display: flex;
  flex-direction: column;
  width: $link-size;
  height: $link-size;
  background-color: $white;
  border-radius: 100%;
  border: .2rem solid $dark;
  overflow: hidden;
  cursor: pointer;

  &--light {
    background-color: $black;

    #{$rootPush}-arrow {
      &::before,
      &::after {
        background-color: $white;
      }
    }
  }

  &--left {
    transform: rotateZ(90deg);
  }

  &--right {
    transform: rotateZ(-90deg);
  }

  &:hover {
    #{$rootPush}-arrow {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &-arrow {
    $branch-height: .1rem;
    $branch-width: 1.6rem;

    position: relative;
    width: 100%;
    height: 100%;
    margin: $link-size / 2 0;
    opacity: .4;
    transform: translateY(- #{$link-size});
    transition: opacity $easing, transform $easing;
    will-change: opacity, transform;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: calc(50% + #{$branch-width * sqrt(2) / 2} / 2);
      width: $branch-width;
      height: $branch-height;
      background-color: $dark;
    }

    &::before {
      right: 50%;
      transform-origin: $branch-width 50%;
      transform: rotateZ(45deg);
    }

    &::after {
      left: 50%;
      transform-origin: calc(100% - #{$branch-width}) 50%;
      transform: rotateZ(-45deg);
    }
  }
}
