@mixin grid-scale($column) {
  @if $column >= 12 {
    @media (max-width: #{grid-media(12)}) {
      width: grid(10);
    }
  }

  @if $column >= 10 {
    @media (max-width: #{grid-media(10)}) {
      width: grid(8);
    }
  }

  @if $column >= 8 {
    @media (max-width: #{grid-media(8)}) {
      width: grid(6);
    }
  }

  @if $column >= 6 {
    @media (max-width: #{grid-media(6)}) {
      width: grid(4);
    }
  }

  @if $column >= 4 {
    @media (max-width: #{grid-media(4)}) {
      width: grid(3);
    }
  }
}
