@font-face {
  font-family: 'Euclid Flex';
  font-weight: normal;
  src: url('assets/fonts/Euclid-Flex-Regular.otf');
}

@font-face {
  font-family: 'Euclid Flex';
  font-weight: 700;
  src: url('assets/fonts/Euclid-Flex-Bold.otf');
}

@font-face {
  font-family: 'Euclid Flex';
  font-weight: 300;
  src: url('assets/fonts/Euclid-Flex-Light.otf');
}
