.Fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 1s ease, transform 1s ease;
  }

  &-enter {
    transform: translateX(-2rem);
    opacity: 0
  }

  &-leave-active {
    transform: translateX(2rem);
    opacity: 0
  }
}

