// Colors
$black:  #141414;
$grey:   #D9D9D9;
$white:  #FFFFFF;
$green:  #00D6CF;
$blue:   #228DFC;
$red:    #FF303F;
$yellow: #DEA51C;

// Grid
$column: 80px;
$gutter: 20px;

// Sizes
$margin-g: 240px;
$margin-l: 160px;
$margin-m: 120px;
$margin-s: 60px;
$margin-t: 30px;
