html {
  @include full-size();
  background-color: $black;
  font-size: 62.5%;
}

body {
  @include full-size();
  position: relative;
  font-family: $font;
  font-display: block;
  color: $white;
  overflow: hidden;

  &.is-active {
    overflow: auto;
  }

  > * {
    @include full-size();

    > * {
      @include full-size();
    }
  }
}
