.Content {
  $rootContent: &;

  display: flex;
  flex-direction: column;
  width: grid(10);
  margin-bottom: $margin-s;

  @include grid-scale(10);

  &:last-of-type {
    margin-bottom: 0;
  }

  &-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: $margin-m;

    @media (max-width: #{grid-media(10)}) {
      margin-bottom: $margin-r;
    }

    @media (max-width: #{grid-media(8)}) {
      margin-bottom: $margin-s;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--center {
      align-items: center;
    }
  }

  &-title {
    width: 100%;
    font-size: 3.6rem;
    margin-bottom: $margin-t;
    white-space: pre;
    font-weight: 700;

    @media (max-width: #{grid-media(6)}) {
      font-size: 2.8rem;
    }

    @media (max-width: #{grid-media(4)}) {
      font-size: 2.2rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--trailed {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        right: 100%;
        top: 50%;
        width: 100vw;
        height: .1rem;
        background-color: $white;
        transform: translate(-#{$margin-s}, -50%);
      }
    }
  }

  &-description {
    width: grid(4);
    margin-bottom: $margin-s;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.75em;

    @media (max-width: #{grid-media(6)}) {
      width: 100%;
      font-size: 1.8rem;
    }

    &--large {
      width: grid(6);

      @media (max-width: #{grid-media(8)}) {
        width: 100%;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-section {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: $margin-s;

    @media (max-width: #{grid-media(8)}) {
      font-size: 2.2rem;
    }

    @media (max-width: #{grid-media(6)}) {
      font-size: 2rem;
    }
  }

  &-item {
    position: relative;
    display: flex;
    margin-bottom: $margin-b;

    @media (max-width: #{grid-media(10)}) {
      margin-bottom: $margin-l;
    }

    @media (max-width: #{grid-media(8)}) {
      flex-direction: column;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-of-type(2n) {
      justify-content: flex-end;

      #{$rootContent}-post {
        left: 0;
      }

      #{$rootContent}-poster {
        @media (max-width: #{grid-media(10)}) {
          width: grid(2.75);
          height: auto;
          align-self: center;
        }

        @media (max-width: #{grid-media(8)}) {
          margin-top: $margin-s;
        }
      }
    }

    &:nth-of-type(2n+1) {
      justify-content: flex-start;

      #{$rootContent}-post {
        right: 0;
      }

      #{$rootContent}-poster {
        @media (max-width: #{grid-media(10)}) {
          width: grid(3.5);
          height: auto;
          align-self: center;
        }

        @media (max-width: #{grid-media(8)}) {
          margin-top: $margin-s;
        }
      }
    }
  }

  &-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $margin-m;

    @media (max-width: #{grid-media(8)}) {
      flex-direction: column;

      > * {
        margin-bottom: $margin-s;

        &:first-child {
          margin-bottom: 0;
        }
      }

      #{$rootContent}-post {
        order: 1;
      }

      #{$rootContent}-flyer {
        order: 2;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--alternation {
      flex-wrap: wrap;
      align-items: flex-start;

      @media (max-width: #{grid-media(10)}) {
        #{$rootContent}-post {
          margin-bottom: $margin-r;
        }
      }
    }
  }

  &-post {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: grid(4);
    height: 100%;

    @media (max-width: #{grid-media(8)}) {
      position: static;
      width: 100%;
    }

    &--static {
      position: static;
      transform: none;
    }

    &--half {
      width: grid(5);

      @media (max-width: #{grid-media(8)}) {
        width: 100%;
      }
    }

    &--quarter {
      flex: 1 0 auto;
      width: grid(3);

      @media (max-width: #{grid-media(8)}) {
        width: 100%;
      }
    }
  }

  &-poster {
    z-index: 1;
  }

  &-flyer {
    z-index: 1;
    height: auto;

    @media (max-width: #{grid-media(10)}) {
      width: grid(2);
    }

    @media (max-width: #{grid-media(8)}) {
      width: grid(3);
    }
  }

  &-alternated {
    position: relative;
    order: 2;

    &:nth-of-type(2n) {
      margin-top: $margin-l;
      margin-left: $margin-l;

      @media (max-width: #{grid-media(10)}) {
        margin-top: 0;
        margin-bottom: $margin-l;
        margin-left: 0;
      }

      @media (max-width: #{grid-media(8)}) {
        margin-right: auto;
        margin-bottom: $margin-r;
        margin-left: 0;

        &::after {
          right: auto;
          left: grid(3) + $gutter / 2;
        }
      }

      @media (max-width: #{grid-media(6)}) {
        &::after {
          right: auto;
          left: grid(2) + $gutter / 2;
        }
      }

      @media (max-width: #{grid-media(4)}) {
        &::after {
          right: auto;
          left: grid(1.5) + $gutter / 2;
        }
      }
    }

    &:nth-of-type(2n+1) {
      z-index: -1;
      margin-right: $margin-l;
      margin-bottom: - #{$margin-l / 2};
      transform: translateY(-50%);

      &::before {
        content: '';
        position: absolute;
        top: 25%;
        left: 0;
        z-index: -1;
        width: calc(#{grid(10)} - 100%);
        height: .1rem;
        background-color: $dark;
        transition: width $easing-duration;
      }

      @media (max-width: #{grid-media(10)}) {
        margin-right: 0;
        margin-bottom: #{$margin-l / 2};
        transform: translateY(50%);

        &::before {
          right: 0;
          left: auto;
          width: calc(#{grid(8)} - 100%);
        }
      }

      @media (max-width: #{grid-media(8)}) {
        margin-right: 0;
        margin-bottom: $margin-r;
        margin-left: auto;
        transform: none;

        &::before {
          display: none;
        }

        &::after {
          right: grid(3) + $gutter / 2;
          left: auto;
        }
      }

      @media (max-width: #{grid-media(6)}) {
        &::after {
          right: grid(2) + $gutter / 2;
          left: auto;
        }
      }

      @media (max-width: #{grid-media(4)}) {
        &::after {
          right: grid(1.5) + $gutter / 2;
          left: auto;
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(100% - #{$margin-l / 2});
      left: 50%;
      z-index: -1;
      width: .1rem;
      height: 100%;
      background-color: $dark;
      transform: translateY(-#{$margin-l / 2});
      transition: height $easing-duration;

      @media (max-width: #{grid-media(8)}) {
        top: calc(100% - #{$margin-r / 2});
      }
    }

    &:last-child {
      &::after {
        height: 0;
      }
    }

    &.is-inactive {
      &:nth-of-type(2n+1) {
        &::before {
          width: 0;
        }
      }

      &::after {
        height: 0;
      }
    }
  }

  &-intern {
    display: block;

    @media (max-width: #{grid-media(6)}) {
      width: grid(3);
      height: auto;
    }

    @media (max-width: #{grid-media(4)}) {
      width: grid(2);
    }
  }

  &-text {
    margin-bottom: $margin-s;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.75em;

    @media (max-width: #{grid-media(6)}) {
      font-size: 1.8rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--intermediate {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100vw;
        z-index: -1;
        width: 200vw;
        height: calc(100% + #{$margin-t});
        background-color: $black;
      }
    }
  }

  &-list {
    display: flex;
    justify-content: space-between;

    @media (max-width: #{grid-media(10)}) {
      #{$rootContent}-listed {
        align-self: center;
        width: 25%;
        height: auto;
      }
    }

    @media (max-width: #{grid-media(6)}) {
      flex-direction: column;

      #{$rootContent}-listed {
        width: grid(2);
        height: auto;
        margin-bottom: $margin-s;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-suite {
    display: flex;
    flex-direction: column;

    > * {
      margin-bottom: $margin-m;

      @media (max-width: #{grid-media(6)}) {
        margin-bottom: $margin-s;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-icons {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    &--half {
      width: grid(4);

      @media (max-width: #{grid-media(10)}) {
        width: 100%;
        margin-bottom: $margin-s;
      }
    }

    &--main {
      width: grid(8);

      @media (max-width: #{grid-media(10)}) {
        width: 100%;
      }

      @media (max-width: #{grid-media(8)}) {
        img {
          width: auto;
          height: $margin-s;
        }
      }
    }
  }

  &-charters {
    display: flex;
    width: 100%;

    @media (max-width: #{grid-media(8)}) {
      flex-wrap: wrap;
    }

    #{$rootContent}-charter {
      width: 50%;
      padding-right: $margin-s;

      @media (max-width: #{grid-media(8)}) {
        width: 100%;
        padding-right: 0;
        margin-top: $margin-s;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    &--half {
      flex-direction: column;
      width: auto;

      @media (max-width: #{grid-media(10)}) {
        width: 100%;
      }

      > * {
        margin-top: $margin-s;
        padding-right: 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  &-breakpoints {
    height: auto;
    align-self: center;

    @include grid-scale(10);
  }

  &-full {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-self: center;

    @media (max-width: #{grid-media(8)}) {
      flex-wrap: wrap;
    }
  }

  &-fullline {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-self: center;
    flex-wrap: nowrap;
  }

  &-online {
    > img {
      width: auto;
      height: 100%;
    }

    @media (max-width: #{grid-media(8)}) {
      height: $margin-m;
    }

    @media (max-width: #{grid-media(6)}) {
      height: $margin-r;
    }

    @media (max-width: #{grid-media(4)}) {
      height: $margin-s;
    }
  }

  &-banner {
    align-self: center;
    max-width: grid(24);

    @media (max-width: #{grid-media(18)}) {
      width: grid(22);
    }

    @media (max-width: #{grid-media(16)}) {
      width: grid(20);
    }

    @media (max-width: #{grid-media(14)}) {
      width: grid(18);
    }

    @media (max-width: #{grid-media(12)}) {
      width: grid(16);
    }

    @media (max-width: #{grid-media(10)}) {
      width: grid(14);
    }

    @media (max-width: #{grid-media(8)}) {
      width: grid(12);
    }

    @media (max-width: #{grid-media(6)}) {
      width: grid(10);
    }
  }

  &-container {
    position: relative;

    > * {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &:first-child {
        position: static;
        transform: none;
      }
    }
  }

  &-main {
    display: flex;
    justify-content: space-between;
    width: grid(8);
    height: auto;
    margin: 0 auto;

    @media (max-width: #{grid-media(8)}) {
      width: 100%;
    }
  }

  &-sub {
    width: calc(50% - #{$margin-s} / 2);
    height: auto;
    align-self: center;
    margin-top: $margin-s;

    @media (max-width: #{grid-media(8)}) {
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-main,
  &-full,
  &-sub,
  &-poster,
  &-listed {
    > img {
      align-self: center;
      width: 100%;
      height: auto;
    }
  }
}
