@font-face {
  font-family: 'Euclid Flex';
  font-weight: normal;
  src: url("../assets/fonts/Euclid-Flex-Regular.otf"); }

@font-face {
  font-family: 'Euclid Flex';
  font-weight: 700;
  src: url("../assets/fonts/Euclid-Flex-Bold.otf"); }

@font-face {
  font-family: 'Euclid Flex';
  font-weight: 300;
  src: url("../assets/fonts/Euclid-Flex-Light.otf"); }

/*
* http://meyerweb.com/eric/tools/css/reset/
* v2.0 | 20110126
* License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }
  blockquote::before, blockquote::after,
  q::before,
  q::after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input,
button,
textarea,
select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  border-radius: 0;
  -webkit-padding-start: 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em; }

input[type=text],
input[type=reset],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url],
input[type=time],
input[type=week],
input[type=month],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=number],
input[type=submit],
input[type=reset],
input[type=color],
input[type=file],
button,
textarea,
select {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type=color] {
  width: 1em; }

input::-ms-clear {
  display: none; }

details,
summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

mark {
  background: none; }

hr {
  height: 1px;
  margin: 0;
  padding: 0; }

u {
  text-decoration: none; }

table th {
  text-align: left; }

a {
  color: inherit;
  outline: none;
  text-decoration: none; }

html {
  background-color: #141414;
  font-size: 62.5%; }

body {
  font-family: "Euclid Flex"; }

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #FFFFFF;
  background-color: #141414; }
  .Header-topbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1396px;
    margin-top: 60px; }
  .Header-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .Header-item {
    font-size: 1.8rem;
    margin-right: 60px; }
    .Header-item:last-child {
      margin-right: 0; }

.Footer {
  position: relative;
  width: 100%;
  height: 25rem;
  margin-top: 240px;
  background-color: #141414; }
  .Footer::before, .Footer::after {
    content: '';
    position: absolute;
    bottom: 100%;
    height: 240px; }
  .Footer::before {
    left: 0;
    width: 100%;
    background-color: #FFFFFF; }
  .Footer::after {
    left: 50%;
    width: .1rem;
    background-color: #D9D9D9; }

.Article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1160px; }
  .Article-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin-bottom: 60px; }
  .Article-text {
    width: 100%; }
  .Article-paragraph {
    font-size: 2rem;
    line-height: 1.5em;
    margin-bottom: 1.5em; }
    .Article-paragraph:last-child {
      margin-bottom: 0; }

.Component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 1160px; }
  .Component-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 120px; }
    .Component-header:last-child {
      margin-bottom: 0; }
  .Component-title {
    font-size: 3.6rem;
    margin-bottom: 30px;
    white-space: pre; }
    .Component-title:last-child {
      margin-bottom: 0; }
    .Component-title--trailed {
      position: relative; }
      .Component-title--trailed::before {
        content: '';
        position: absolute;
        right: 100%;
        top: 50%;
        width: 100vw;
        height: .1rem;
        background-color: #FFFFFF;
        -webkit-transform: translate(-60px, -50%);
        transform: translate(-60px, -50%); }
  .Component-subtitle {
    width: 688px;
    font-size: 2rem;
    line-height: 1.75em;
    text-align: center; }
  .Component-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .Component-col {
    width: 452px; }

.Logo--green .Logo-lastname {
  fill: #00D6CF; }

.Logo--blue .Logo-lastname {
  fill: #228DFC; }

.Logo--red .Logo-lastname {
  fill: #FF303F; }

.Logo--yellow .Logo-lastname {
  fill: #DEA51C; }

.Post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1160px; }
  .Post-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 334px; }
  .Post-text {
    width: 806px; }
  .Post-paragraph {
    font-size: 2rem;
    line-height: 1.5em;
    margin-bottom: 1.5em; }
    .Post-paragraph:last-child {
      margin-bottom: 0; }

.Slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 160px 0; }
  .Slide--light {
    background-color: #FFFFFF; }
  .Slide--dark {
    background-color: #141414; }
  .Slide--page {
    padding: 240px 0; }
    .Slide--page > * {
      margin-bottom: 240px; }
      .Slide--page > *:last-child {
        margin-bottom: 0; }

.Text--subtitle {
  font-size: 5rem;
  line-height: 1.25em; }

.Text--center {
  text-align: center; }

.Text--black {
  color: #141414; }

.Text--grey {
  color: #D9D9D9; }

.Text--white {
  color: #FFFFFF; }

.Text--green {
  color: #00D6CF; }

.Text--blue {
  color: #228DFC; }

.Text--red {
  color: #FF303F; }

.Text--yellow {
  color: #DEA51C; }

/*# sourceMappingURL=app.css.map */
