@font-face {
  font-family: 'Euclid Flex';
  font-weight: normal;
  src: url('assets/fonts/Euclid-Flex-Regular.otf');
}

@font-face {
  font-family: 'Euclid Flex';
  font-weight: 700;
  src: url('assets/fonts/Euclid-Flex-Bold.otf');
}

@font-face {
  font-family: 'Euclid Flex';
  font-weight: 300;
  src: url('assets/fonts/Euclid-Flex-Light.otf');
}

@font-face {
  font-family: 'CircularStd-Bold';
  src: url('assets/fonts/CircularStd-Bold.otf');
}

@font-face {
  font-family: 'CircularStd-Book';
  src: url('assets/fonts/CircularStd-Book.otf');
}

@font-face {
  font-family: 'OculusSans-Regular';
  src: url('assets/fonts/OculusSans-Regular.otf');
}

@font-face {
  font-family: 'OculusSans-Bold';
  src: url('assets/fonts/OculusSans-Bold.otf');
}

@font-face {
  font-family: 'CeraGR-Bold';
  src: url('assets/fonts/CeraGR-Bold.otf');
}

@font-face {
  font-family: 'Bariol-Regular';
  src: url('assets/fonts/Bariol-Regular.otf');
}
