.Article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: grid(10);

  &-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: $margin-s;
  }

  &-text {
    width: 100%;
  }

  &-paragraph {
    font-size: 2rem;
    line-height: 1.5em;
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
