.Component {
  display: flex;
  flex-direction: column;
  width: grid(10);

  &-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: $margin-m;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-title {
    font-size: 3.6rem;
    margin-bottom: $margin-t;
    white-space: pre;

    &:last-child {
      margin-bottom: 0;
    }

    &--trailed {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        right: 100%;
        top: 50%;
        width: 100vw;
        height: .1rem;
        background-color: $white;
        transform: translate(-#{$margin-s}, -50%);
      }
    }
  }

  &-subtitle {
    width: grid(6);
    font-size: 2rem;
    line-height: 1.75em;
    text-align: center;
  }

  &-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-col {
    width: grid(4);
  }
}
