.Logo {
  // $colors: (
  //   'green',
  //   'blue',
  //   'red',
  //   'yellow'
  // );

  &--green &-lastname {
    fill: $green;
  }

  &--blue &-lastname {
    fill: $blue;
  }

  &--red &-lastname {
    fill: $red;
  }

  &--yellow &-lastname {
    fill: $yellow;
  }
}
