.Slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: $margin-l 0;

  &--light {
    background-color: $white;
  }

  &--dark {
    background-color: $black;
  }

  &--page {
    padding: $margin-g 0;

    > * {
      margin-bottom: $margin-g;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
