// Tools
@import 'tools/fonts';
@import 'tools/variables';
@import 'tools/functions';
@import 'tools/mixins';
@import 'tools/animations';

// Bases
@import 'bases/reset';
@import 'bases/general';

// Layouts
@import 'layouts/header';
@import 'layouts/footer';

// Modules
@import 'modules/article';
@import 'modules/loader';
@import 'modules/logo';
@import 'modules/part';
@import 'modules/post';
@import 'modules/slide';
@import 'modules/text';
@import 'modules/transition';

.cheat {
  &-screen {
    &:last-child {
      margin-top: 26rem;
    }
  }

  &-phone {
    width: grid(4);
    height: auto;
    margin-top: -360px;

    &:nth-child(2n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  &-macbook {
    width: grid(8);
    height: auto;
    margin: auto;
  }
}
